/* home page css */

div#section2 li {
    float: left;
    padding: 10px 10px;
    background-color: white;
    margin: 0 10px;
}

div#section2 li:hover {
    float: left;
    padding: 10px 10px;
    background-color: blue;
    margin: 0 10px;
}

div#facebook li {
    float: left;
    padding: 10px 10px;
    background-color: white;
    margin: 0 10px;
}

div#facebook li:hover {
    float: left;
    padding: 10px 10px;
    background-color: blue;
    margin: 0 10px;
}

div#twitter li {
    float: left;
    padding: 10px 10px;
    background-color: white;
    margin: 0 10px;
}

div#twitter li:hover {
    float: left;
    padding: 10px 10px;
    background-color: blue;
    margin: 0 10px;
}

div#instagram li {
    float: left;
    padding: 10px 10px;
    background-color: white;
    margin: 0 10px;
}

div#instagram li:hover {
    float: left;
    padding: 10px 10px;
    background-color: blue;
    margin: 0 10px;
}

div#google li {
    float: left;
    padding: 10px 10px;
    background-color: white;
    margin: 0 10px;
    text-decoration: none;
}

div#google li:hover {
    float: left;
    padding: 10px 10px;
    background-color: blue;
    margin: 0 10px;
}

.color {
    padding-left: 50px;
    width: 500px;
    height: 200px;
    background-color: skyblue;
    border-radius: 100px;
}

.btn {
    background-color: blue;
    padding: 40px 30pz;
    color: white;
    border-radius: 30px;
}

.country {
    background-color: yellow;
    width: 500px;
    height: 200px;
    padding-left: 50px;
    border-radius: 100px;
}

.region {
    background-color: orangered;
    width: 500px;
    height: 200px;
    padding-left: 50px;
    margin-left: 200px;
    border-radius: 100px;
}

.controls {
    background-color: green;
    width: 500px;
    height: 200px;
    padding-left: 50px;
    margin-left: 200px;
    border-radius: 100px;
}

.navbar ul {
    overflow: auto;
    background-color: chartreuse;
    padding: 20px 20px;
    list-style-type: none;
    text-decoration: none;
}


/* twitter css */


/* instagram css */


/* google css */


/* facebook css */

#bodybg {
    background-image: url(images/bgimg.jpg);
}

#bgcolor {
    background-color: white;
    margin-left: 300px;
    margin-right: 300px;
}